.border-bottom {
    border-bottom: black solid 2px !important;
}

.img-size {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

img:hover,
svg:hover {
    cursor: pointer;
}

svg:focus {
    outline: none;
}

.alert-box {
    position: absolute;
    width: 100%;
    top: 0;
}
